<div class="desktop-icons">
    <div class="icon-item">
      <img src="{{ site.baseurl }}/assets/icons/folder-blue-github.svg" alt="Github" class="icon-img">
      <span class="icon-label">Github</span>
    </div>
    <div class="icon-item">
      <img src="{{ site.baseurl }}/assets/icons/nmap.svg" alt="Nmap" class="icon-img">
      <span class="icon-label">Nmap</span>
    </div>
    <div class="icon-item">
      <img src="{{ site.baseurl }}/assets/icons/wireshark.svg" alt="Wireshark" class="icon-img">
      <span class="icon-label">T-Shark</span>
    </div>
  </div>