<div class="desktop-icons">
    <div class="icon-item">
      <img src="{{ site.baseurl }}/assets/icons/user-trash-full.svg" alt="Trash" class="icon-img">
      <span class="icon-label">Terminal</span>
    </div>
    <div class="icon-item">
      <img src="{{ site.baseurl }}/assets/icons/folder-blue-home.svg" alt="Home" class="icon-img">
      <span class="icon-label">Files</span>
    </div>
    <div class="icon-item">
      <img src="{{ site.baseurl }}/assets/icons/wireshark.svg" alt="Wireshark" class="icon-img">
      <span class="icon-label">Browser</span>
    </div>
  </div>