# Ignorar archivos y carpetas generadas por Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Dependencias
vendor
.bundle
node_modules/

# Archivos sensibles
.env
*.key

# Archivos del sistema
.DS_Store

# Configuración local
_config.local.yml
