<!-- Añadir prompts, comandos y outputs -->
<div class="content" style="position: relative; z-index: 1;">
  <p class="prompt-line">(kali@kali)-[~/]</p>
  <p class="command">$ whoami</p>
  <p class="output">mariovalcen</p>

  <p class="prompt-line">(kali@kali)-[~/]</p>
  <p class="command">$ cat about_me</p>
  <p class="output">Hello! I’m Mario, a psychologist who changed from analyzing human behavior to trying to understand the mysteries of the kernel.<br>
  I started my way in psychology, but my curiosity for technology made me to train as a full-stack web developer...</p>

  <p class="prompt-line">(kali@kali)-[~/]</p>
  <p class="command">$ cd projects</p>

  <p class="prompt-line">(kali@kali)-[~/projects]</p>
  <p class="command">$ ls -la</p>
  <p class="output">total 20<br>drwxr-xr-x  4 mario mario 4096 Feb 17 13:21 .<br>drwxr-xr-x  6 mario mario 4096 Feb 16 12:15 ..<br>-rw-r--r--  1 mario mario 4096 Feb 14 11:05 exploit.py<br>-rw-r--r--  1 mario mario 2048 Feb 14 11:06 nmap_scan.log<br><span style="color: var(--background-light);">-rwxr-xr-x  1 mario mario 4096 Feb 14 11:07 </span><a href="https://github.com/mariovalcen" style="color: var(--link-executable-color); font-weight: bold; text-decoration: none;">run_project.sh</a><br><span style="color: var(--background-light);">-rwxr-xr-x  1 mario mario 2048 Feb 15 10:30 </span><a href="https://github.com/mariovalcen" style="color: var(--link-executable-color); font-weight: bold; text-decoration: none;">reverse_shell.sh</a></p>

  <p class="prompt-line">(kali@kali)-[~/projects]</p>
  <p class="command">$<span class="cursor" style="background-color: var(--primary-color); display: inline-block; width: 10px; height: 20px; animation: blink 0.5s infinite;">█</span></p>
</div>
  