.desktop-icons {
    position: absolute;
    top: 60px; 
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
  }
  
  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-img {
    width: 60px; 
    height: 60px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .icon-img:hover {
    transform: scale(1.08);
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8)); /* Resalta el contorno */
  }
  
  .icon-label {
    margin-top: 2px;
    color: var(--background-light);
    font-family: 'Fira Code', monospace;
    font-size: 10px; 
  }