<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/terminal.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/top-panel.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/desktop-icons.css">

</head>
<body>
  <div class="main-container">
    <div class="top-panel">
      {% include components/top-panel/top-panel.html %}
      <script src="{{ site.baseurl }}/assets/js/top-panel.js"></script>
    </div>
    <div class="terminal-wrapper">
      {% include components/terminal/terminal.html %}
    </div>
    {% include components/desktop-icons/desktop-icons.html %}
  </div>
</body>



</html>
