<div class="top-panel">
  <div class="left">
      <img src="{{ site.baseurl }}/assets/icons/emblem-kali.png" alt="Kali" class="panel-icon">
      <img src="{{ site.baseurl }}/assets/icons/folder-blue-desktop.svg" alt="Desktop Folder" class="panel-icon">
      <img src="{{ site.baseurl }}/assets/icons/system-file-manager.svg" alt="File Manager" class="panel-icon">
      <img src="{{ site.baseurl }}/assets/icons/brave.svg" alt="Brave Browser" class="panel-icon">
      <img src="{{ site.baseurl }}/assets/icons/utilities-terminal.svg" alt="Terminal" class="panel-icon">
  </div>
  <div class="right">
      <img src="{{ site.baseurl }}/assets/icons/notification-audio-volume-medium.svg" alt="Volume" class="panel-icon">
      <img src="{{ site.baseurl }}/assets/icons/network-wireless-connected-100.svg" alt="Notifications" class="panel-icon invert">
      <span class="time" id="time"></span>
  </div>
</div>

